.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
*.sassc
*.scssc
.sass-cache
compass_app_log.txt
.idea
.vagrant
phpunit.xml
phpunit.phar
composer.lock
composer.phar
/vendor
/bower_components
/node_modules
/npm-debug.log
